doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href=require("css/style.scss"))
    body 
        -var games = [{title: 'Red Dead Redemption 2', realiseDate: '26 октября 2018', image: 'img/redDead.jpg'},{title: 'Marvels Spider-Man', realiseDate: '7 сентября 2018', image: 'img/spiderMan.jpg'},{title: 'osu!', realiseDate: '16 сентября 2007', image: 'img/osu.jpg'},{title: 'Half-Life 2', realiseDate: '16 ноября 2004 г.', image: 'img/half-life2.jpg'},{title: 'Teslagrad', realiseDate: '13 декабря 2013', image: 'img/teslagrand.jpg'},{title: 'Teslagrad 2', realiseDate: '19 апреля 2023', image: 'img/teslagrand2.jpg'},{title: 'Outlast', realiseDate: '4 сентября 2013 ', image: 'img/outlast.jpg'}]
        .container
            h1.title Топ четких игр на ПК
            p Red Dead Redemption 2 Открытый мир в стиле вестерна, где игроки исследуют американский Дикий Запад в роли Датча ван дер Линде и его банды. Игра включает в себя охоту, рыбалку, бои и множество побочных заданий. История рассказывает о борьбе за выживание, дружбе и предательстве, с невероятной проработкой мира и персонажей.
            p Marvel's Spider-Man Экшен-игра, в которой игроки берут на себя роль Питера Паркера, супергероя Человека-паука. В игре открытый мир, наполненный различными миссиями, головоломками и сражениями с врагами. Сюжет сосредоточен на борьбе Паркера с преступностью и мощными злодеями, такими как Доктор Осьминог и Мистерио.
            p osu!Музыкальная аркада, в которой игроки кликают по нотам, появляющимся на экране в такт музыке. Игра предлагает множество уровней сложности и позволяет создавать свои собственные карты, что привлекло большое сообщество игроков и создателей контента.
            p Half-Life 2 Шутер от первого лица, где игроки берут на себя роль Гордона Фримена, ученого, который сражается с инопланетными захватчиками и противниками в постапокалиптическом мире. Игра известна своим захватывающим сюжетом, инновационной физикой и созданием напряженной атмосферы.
            p Teslagrad Платформер, основанный на магнитных и электрических силах, где игроки решают головоломки с использованием различных механизмов. Главный герой отправляется в приключение в поисках правды о своем происхождении в мрачном мире, полном тайных технологий и магии.
            p Teslagrad 2 Прямое продолжение первой игры, где продолжена история главного героя, который исследует новые локации и сталкивается с еще более сложными головоломками. Игра сохраняет концепцию магнитных и электрических механизмов, но добавляет новые элементы, улучшая и разнообразя геймплей.
            p Outlast Хоррор-игра от первого лица, в которой игроки оказываются в психиатрической больнице, полной ужасных тайн и безумных обитателей. В игре нет оружия — игроки должны скрываться, избегать врагов и решать головоломки, чтобы выжить и раскрыть мрачные тайны учреждения.
        
            ul.grid
                each game in games
                    li.grid__item
                        article.card
                            a.card__image(href="")
                                img(src=require(game.image))
                            h2.card__title
                                a(href="" )= game.title
                            span.card__date= "Дата выхода: " + game.realiseDate


